body {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

table {
    text-align: center;
}

input {
    margin-bottom: 10px;
}

.nav-header {
    color: red;
}

.col1, .col2, .col3 {
    padding-top: 10px;
}

.col2, .header, .sub-header {
    text-align: center;
}

.col3 {
    text-align: right;
}

.header {
    margin-top: 50px;
}

.sub-header {
    margin-bottom: 40px;
}

.task {
    display: block;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.3);
}

.task-header {
    color: black;
}

.play-workout {
    display: block;
    margin: 10px 0;
    padding: 15px 10px;
    background-color: rgba(255, 0, 0, 0.6);
}

.play-icon {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.notes {
    text-align: center;
}

.table {
    margin-top: 20px;
}

.table tr td {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.table tr:nth-child(2) td, .table tr:nth-child(4) td {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 10px;
}

.timer {
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}

#form-profile {
    margin-top: 20px;
}

#label-forgot-password {
    font-size: 14px;
    margin-bottom: 10px;
}