body {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

table {
    background-color: pink;
    display: block;
    margin: 20px 0;
}

.nav-header {
    color: red;
}

.col1, .col2, .col3 {
    padding-top: 10px;
}

.col2, .header, .sub-header {
    text-align: center;
}

.col3 {
    text-align: right;
}

.header {
    margin-top: 50px;
}

.sub-header {
    margin-bottom: 40px;
}

.task {
    display: block;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.3);
}

.task-header {
    color: black;
}

.play-workout {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.6);
}

.play-icon {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.notes {
    text-align: center;
}